<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 56 56"
   [ngStyle]="{ 'position': 'absolute', 'top':top+'px', 'left' : left+'px', 'z-index':'900' }">
    <g id="Ellipse_4" data-name="Ellipse 4"   [attr.fill]="fillColor" stroke="#dcdcdc" stroke-width="2"
    (mousedown)="mousedown($event)"
    (window:mouseup)="mouseup($event)"
    (window:mousemove)="mousemove($event)"
    (mouseover)="mouseover($event)"
    (mouseleave)="mouseleave($event)">
        <circle cx="28" cy="28" r="28" stroke="none"/>
        <circle cx="28" cy="28" r="27" fill="none"/>
    </g>
</svg>   