#FlowItems{
    height: 110px;
    padding-top: 20px;
    
    .wf-item {       
        margin: 10px; 
        width: 60px;
        height: 60px;
        display: inline-block;
    }
}
#WorkflowContainer{
   
    height: 100%;
    overflow: hidden;


    .item {
        width: 60px;
        height: 60px;
        display: block;
    }
}

.toolbox {
    position:absolute;
    right: 20px;
    bottom:20px;
    z-index: 10000;
}

#WorkflowCanvas {
    border:1px solid #ccc;
    background-image: radial-gradient(rgb(214, 212, 212) 1px, transparent 0);
    background-color:#f3f2f2 !important;
    background-size: 10px 10px;
    background-position: -19px -19px;
}



.connection {
    position: absolute;
    pointer-events: none;
}
svg {
    z-index: 0;
    position: absolute;
    overflow: visible!important;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.main-path {
    fill: none;
    stroke-width: 5px;
    stroke: #4682b4;
}
.dragium-selected {
    border:2px solid red;
}