<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 120 120" style="position:relative;z-index:1200;">
    <g id="start" transform="translate(-936 -569)">
    <circle id="Ellipse_1" data-name="Ellipse 1" cx="60" cy="60" r="60" transform="translate(936 569)" fill="#2055bb"/>
    <path id="Polygon_1" data-name="Polygon 1" d="M26,0,52,31H0Z" transform="translate(1011.5 603) rotate(90)" fill="#fff"/>
    </g>
</svg>
<div *ngIf="showIO">
    <wf-io top="50" left="20" [id]="id" [connectionType]="output"></wf-io>
</div>
