<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 120 120">
    <g id="stop" transform="translate(-1455 -1644)">
    <circle id="Ellipse_2" data-name="Ellipse 2" cx="60" cy="60" r="60" transform="translate(1455 1644)" fill="#c63434"/>
    <rect id="Rectangle_2" data-name="Rectangle 2" width="57" height="55" transform="translate(1487 1677)" fill="#fff"/>
    </g>
</svg>       
<div *ngIf="showIO">
    <wf-io top="20" left="-15" [id]="id" [connectionType]="'input'"></wf-io>
</div>